
.search-bar::placeholder{
    font-family:'Roboto',sans-serif;
    font-size:16px;
}
.header{
    height:55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:rgb(255, 255, 255);
    border-bottom-width:1px;
    border-style:solid;
    border-bottom-color:rgb(180, 179, 179);
    z-index:100;

}

.left-section{
    display:flex;
    align-items:center;
}

.hamburger-menu{
    height:24px;
    margin-left:25px;
    margin-right:20px;
}
.cast-logo{
    height: 55px;    
}

.middle-section{
    display:flex;
    align-items:center;
    flex:1;
    margin-right:35px;
    max-width:400px;
    align-items:center;

}
.search-bar{
    flex:1;
    height:35px;
    font-size:15px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(172, 170, 170);
    border-radius:20px 0 0 20px;
    box-shadow:inset 1px 2px 3px rgb(172, 170, 170);
    width:0;
    outline: none;
    }
.search-icon{
    height:25px;
    margin-top:4px;
    background-color:white;
}
.search-button{
    height:40px;
    width:65px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color:white;
    margin-left:1px;
    margin-right:10px;
    border-radius:0 20px 20px 0;
    box-shadow:inset 1px 2px 3px rgb(172, 170, 170);
}
.voice-button{
    height:40px;
    width:40px;
    background-color:rgb(255, 255, 255);
    border-width:1px;
    border-style:solid;
    border-color:rgb(255, 255, 255);
    margin-left:1px;
    margin-right:10px;
    border-radius:20px
}
.right-section{
    width:150px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:20px;
    flex-shrink:0;

}
.icon-mic{
    height:30px;
    background-color:rgb(246, 245, 245);
    border-color:white;
    border-radius:20px;
}
.upload-icon{
    height:25px;
    background-color:rgb(246, 245, 245);
    border-color:white;
    border-radius:20px;
    margin-right:5px;
} 
.notification-icon{
    height:25px;
    background-color:rgb(246, 245, 245);
    border-color:white;
    border-radius:20px;
    margin-right:10px;
} 
.notification-icon-container{
    position:relative;
}
.count{
    position:absolute;
    top:0;
    right:4px;
    background-color:red;
    color:white;
    font-family:'Roboto',Arial;
    font-size:12px;
    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    border-radius:10px;

}
.apps-icon{
    height:25px;
    background-color:rgb(246, 245, 245);
    border-color:white;
    border-radius:20px;
    margin-right:5px;
} 
.mychannel-icon{
    height:35px;
    border-radius:17px
} 