.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color:white;
    width:73px;
    
}
.sidebar-link{
    background-color:rgb(255, 255, 255);
    height:90px;
    margin-bottom:30px;
    margin-top:30px;
    margin-left:4px;
    cursor:pointer;



}
.sidebar-link:hover{
    background-color:rgb(224, 224, 224);
}
.icon-sidebar{
    height:70px;
}
